.body-home-page-container {
    font-family: 'roboto';
}

.body-home-page-container {
    .top-slide {
        .image_slider {
            .iamge_slider-track {
                max-width: 1380px;
                overflow: hidden;
                position: relative;

                .slider-prev {
                    color: #ff9601;
                    opacity: .6;
                    position: absolute;
                    top: 29%;
                    left: 0px;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }

                .slider-next {
                    color: #ff9601;
                    opacity: .6;
                    position: absolute;
                    top: 29%;
                    right: 15px;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }

                .image_slider-parent {
                    display: flex;
                    flex-wrap: nowrap;
                    list-style: none;
                    transition: transform 0.3s ease-in-out;
                    .image_slider-child {
                        flex: 0 0 20%;
                        overflow: hidden; 
                        position: relative;
                        &:hover {
                            img {
                                transform: scale(1.2);
                            }
                            .image_hover-icon-play {
                                transform: scale(1);
                                opacity: .8;
                            }

                            cursor: pointer;
                        }

                        .image_hidden {
                            height: 100%;
                            width: 5%;
                            background-color: #1a1a1a;
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 50;
                        }
                        img {
                            width: 95%;
                            height: auto;
                            display: block;
                            object-fit: cover;
                            transition: all .3s ease-in-out;
                        }

                        .image_hover-icon-play {
                            background: #ff9601;
                            height: 50px;
                            width: 50px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -25px 0 0 -25px;
                            border-radius: 50%;
                            opacity: 0;
                            transform: scale(1.5);
                            transition: all .3s ease-in-out;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                border: 15px solid transparent;
                                border-left: 20px solid #fff;
                                margin: -15px 0 0 -6px;
                            }
                        }

                        .image_slider-child-vietsub {
                            position: absolute;
                            font-size: 11px;
                            color: #fff;
                            background: #1b2a39;
                            border-bottom: 2px solid #bb3c2f;
                            border: 1px solid #1b2a3900;
                            top:0px;
                            z-index: 2;
                            font-weight: 400;
                            background-size: 200% 100%;
                            background-image: linear-gradient(to right, #C02425 0%, #F0CB35 51%, #C02425 100%);
                            transition: .7s;
                            border-radius: .25em;
                            height: 23px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            &::after {
                                content: '';
                                border-bottom: 6px solid #dd8b52;
                                border-left: 6px solid transparent;
                                display: block;
                                border-right: 6px solid transparent;
                                bottom: -10px;
                                left: 50%;
                                position: absolute;
                                -webkit-transform: translate(-50%, -50%) rotate(180deg);
                                transform: translate(-50%, -50%) rotate(180deg);
                            }
                        }

                        .image_slider-child-title {
                            width: 95%;
                            position: absolute;
                            bottom: 0;
                            color: #fff;
                            background: rgba(0, 0, 0, .7);                            padding: 8px;
                            overflow: hidden;
                            font-size: 15px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                    }
                }

                @media (max-width:1280px) {
                    .slider-prev {
                        left: 2px;
                        top: 29%;
                    }

                    .slider-next {
                        right: 14px;
                        top: 29%;
                    }
                    .image_slider-parent {
                        .image_slider-child {
                            flex: 0 0 calc(100% / 4);
                            
                        }
                    }
                }

                @media (max-width:1024px) {
                    .slider-prev {
                        left: 2px;
                        top: 29%;
                    }
                
                    .slider-next {
                        right: 14px;
                        top: 29%;
                    }
                    .image_slider-parent {
                        .image_slider-child {
                            flex: 0 0 calc(100% / 3);
                            
                        }
                    }
                }
            }
        }
    }
}